.fruit{
    color: purple;
}

.vegetables{
    color: purple;
}

.berry{
    color: purple;
}

li{
    color: green;
    text-decoration: underline;
}

li.special{
    color: black;
    text-decoration: none;
}

li.berry_point{
    list-style-type: square;
    color: purple;
}

li.fruit_point{
    list-style-type: none;
}

li.vegetables_point{
    list-style-image: url("li.svg");
}