h1{
    text-align: center;
    color: blue;
}

#salt{
    background-color: yellow;
}

p{
    text-align: center;
    font-weight: bold;
}

.line-through{
    text-decoration: line-through;
    font-weight: normal;
}

hr{
    width: 50%;
    height: 5px;
    background-color: red;
}
.underline{
    text-decoration: underline;
    font-weight: normal;
}
span{
    font-weight: normal;
}

.product{
    font-style: italic;
    font-size: 20px;
}